<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin | Credent Asset Management</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <% Object.keys(fileData).map(types => { %>
      <h3>
        <% if(types === "pms"){ %> Personal Management Services <% } if(types
        === "raf") { %> Research Analyst Services <% } if(types === "contact") {
        %> Get In Touch <% } %>
      </h3>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>company</th>
              <th>message</th>
            </tr>
          </thead>
          <tbody>
            <% fileData.pms.forEach(function(d){ %>
            <tr>
              <td><%= d.name %></td>
              <td><%= d.email %></td>
              <td><%= d.phone %></td>
              <td><%= d.company %></td>
              <td><%= d.message %></td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% }) %>
      <h3 class="pt-3">Uplaod Fact Sheet</h3>
      <form action="/factsheet" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <input type="file" name="myfile" class="form-control" />
          <button class="btn btn-success input-group-append">Upload</button>
        </div>
      </form>
    </div>

    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
